.button {
  display: inline-block;
  padding: em(10) 0;
  width: em(185);
  text-align: center;
  font-weight: 600;
  line-height: em(24);
  border-radius: em(8);
  color: $purple;
  background-color: $yellow;
  transition: opacity 0.3s ease 0s;

  &:hover {
    opacity: 0.5;
  }

  // .button_transparent

  &_transparent {
    color: $mainBg;
    border: rem(1) solid $mainBg;
    background-color: transparent;
    transition: color, background-color 0.3s ease 0s;

    &:hover {
      opacity: 1;
      color: $mainColor;
      border-color: $yellow;
      background-color: $yellow;
    }
  }
}
